<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lainware.min.css">
    <title>Klein</title>
</head>

<body>
    <div>
        <h1>Klein {{ version }}</h1>
        <input type="url" placeholder="Your url here..." name="url" id="url"><br>
        <button onclick="shortenUrl();">Shorten</button>
        <button onclick="deleteUrl();">Delete</button>
    </div>

    <div>
        <ul>
            {{#each urls}}
            <li>
                <a href="http://localhost:8080/{{ . }}" target="_blank">{{ . }}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&family=Source+Sans+Pro&display=swap');

    :root {
        --background: #000000;
        --foreground: #ddbebe;
    }

    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
        margin-top: 5px;
        transition: 0.2s;
    }

    button:hover {
        filter: brightness(50%);
    }

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        margin: 0;
    }

    #snackbar {
        font-family: 'Signika', sans-serif;
        color: var(--foreground);
        visibility: hidden;
        min-width: 250px;
        filter: opacity(50%);
        background-color: var(--background);
        text-align: center;
        border-radius: 2px;
        position: fixed;
        z-index: 1;
        bottom: 30px;
    }

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
        animation: fadein 0.5s, fadeout 0.5s 9.5s;
    }

    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }
</style>
<script>
    const createSnack = () => {
        const toast = document.createElement('div');
        toast.id = 'snackbar';

        document.body.appendChild(toast);

        return {
            element: document.getElementById('snackbar'),
            setText(text) {
                this.element.innerText = text;
                return this;
            },
            show(timeout = 10000) {
                this.element.classList.add('show');

                setTimeout(() => {
                    this.element.classList.remove('show');
                    this.element.remove();
                }, timeout);

                return this;
            }
        };
    }

    const shortenUrl = async () => {
        const response = await (await fetch(`/api/v1/shorten?url=${document.getElementById('url').value}`, { method: 'POST' })).json();
        createSnack().setText(response.message).show();
    }

    const deleteUrl = async () => {
        const response = await (await fetch(`/api/v1/${document.getElementById('url').value.split('/')[3]}`, { method: 'DELETE' })).json();
        createSnack().setText(response.message).show();
    }
</script>

</html>